body{
    background-color: aqua;
}


img{
    height: 200px;
    width: 200px;
    position: absolute;
    border: 1px solid red;
}
img:hover{
    border: 5px dashed blue;
    z-index: 100;
}
div{
    border: 1px solid black;
    height: 500px;
    width: 500px;
    position: relative;
}
#img1{
    top:5px;
    left: 5px;
}
#img2{
    top:55px;
    left: 55px;
}
#img3{
    top:130px;
    left: 130px;

}
#img4{
    bottom:100px;
    right: 100px;
}

#img5{
    bottom: 5px;
    right: 5px;
}