body{
  background-color: rgb(233, 233, 154);
}

.negro{
    border: black 4px solid;
    font-family:'Courier New';
    padding: 10px;
    letter-spacing: 2px;
   
  }
span{
    border: black 1px solid;
    font-size: 30px;
    text-transform: uppercase;
    font-family:Arial;
  }
.rojo{
    padding: 10px;
    border: red 3px solid;
    font-weight: bold;
  }

  img {
    width: 100px;
    height: 100px; 
    float: right;
  }