body {
    background-color: rgb(196, 156, 234);
}

li a {
    display: block;
    width: 190px;
    background-color: rgb(241, 238, 150);
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li a:hover {
    background-color: black;
    color: white;
}

.pdf{
    list-style-type: circle;
}
.jpg{
    list-style-type: disc;
}

.docx{
    list-style-type: square;
}

.xlsx{
    list-style-type: decimal;
}

.html{
    list-style-type: georgian;
}